header{
    height: 5vh;
    display: flex;
    justify-content: space-between;
}

main section:nth-child(1){
    background-color: aqua;
    height: 0vh;
}

main section:nth-child(2){
    background-color: blueviolet;
    height: 60vh;
}

main section:nth-child(3){
    background-color: chartreuse;
    height: 30vh;
}

footer{
    height: 5vh;
}


@media (min-height:1715px){
    main{
        display: flex;
        flex-wrap: wrap;
    }

    main section:nth-child(1){
        background-color: red;
        width: 100vw;
        height: 0vh;
    }
    
    main section:nth-child(2){
        /* background-color: red; */
        width: 100vw;
        height: 50vh;
    }
    
    main section:nth-child(3){
        width: 100vw;
        height: 40vh;
    }
}

@media (min-width:768px){
    @media (min-height:1174px){
        main{
            display: flex;
            flex-wrap: wrap;
        }
    
        main section:nth-child(1){
            background-color: red;
            width: 100vw;
            height: 0vh;
        }
        
        main section:nth-child(2){
            background-color: red;
            width: 100vw;
            height: 60vh;
        }
        
        main section:nth-child(3){
            width: 100vw;
            height: 30vh;
        }
    }
}

@media (min-width:768px){
    @media (min-height:1384px){
        main{
            display: flex;
            flex-wrap: wrap;
        }
    
        main section:nth-child(1){
            background-color: red;
            width: 100vw;
            height: 0vh;
        }
        
        main section:nth-child(2){
            background-color: black;
            width: 100vw;
            height: 60vh;
        }
        
        main section:nth-child(3){
            width: 100vw;
            height: 30vh;
        }
    }
}

@media (min-width:1440px ){
    @media (min-height:1024px){
        main{
            display: flex;
            flex-wrap: wrap;
        }
    
        main section:nth-child(1){
            background-color: red;
            width: 100vw;
            height: 0vh;
        }
        
        main section:nth-child(2){
            background-color: violet;
            width: 65vw;
            height: 90vh;
        }
        
        main section:nth-child(3){
            width: 35vw;
            height: 90vh;
        }
    }
}