/* tamaño del body: 
width: 1920px; x height: 974.67px; */
html{
    width: 1920px;
    height: 974.67px;
}

body {
    width: 1920px;
    height: 974.67px;
    align-items: center;
    justify-content: center;
}


/* HEADER */
header{
    width: 1920px;
    height: 90px;
    text-align: left;
}

header img{
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;   
}

main{
    width: 1920px;
    height: 834.67;
}

/* TEXTO AREA */

.area1{
    width: 70%;
    height: 800px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.texto-area{
    padding-left: 100px;
    padding-right: 100px;
}

.texto-area #texto{
    font-size: 40px;
    border: 0px solid #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 700px;

    padding: 0px 0px 0px 0px;
}

/* RESTRICCIONES */

.restricciones{
    vertical-align: bottom;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

.restricciones p{
    color: blue;
    font-size: 25px;
}

/* Bottons */

.botones{
    margin: 0 auto;
    text-align: center;
    vertical-align: bottom;
}

.area1 .botones{
    vertical-align: bottom;
}

.botones .boton{
    
    width: 25%;
    height: 40px;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background: blue;
    vertical-align: bottom;
}

.botones input:hover{
    background: green;
}

/* area 2 */

.area2 {
    /* text-align: right; */
    width: 572px;
    height: 800px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    /* margin-top: 30px; */
    vertical-align: top;
    /* max-width: 100%; */
}

.divArea2{
    /* margin: 2px 2px 2px 2px; */
    /* width: 700px;
    height: 820px; */
    width: 572px;
    height: 834.67px;
    position: relative;
}

.rectangulo{
    position: absolute;
    z-index: -1;
    /* display: inline-block; */

    width: 576px;
    height: 834.67px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
}

.muñeco{
    /* width: 70%; */
    position: absolute;
    z-index: 1;
    /* display: inline-block; */

    width: 259.2px;
    height: 259.2px;
    right: 0px;
    bottom: 0px;
    left: 30%;
    top: 45%;
}

.textfinal{
    top: 10%;
    left: 25%;
    position: absolute;
    z-index: 1;
    display: block;
}

.botonCopiar{
    top: 88%;
    position: absolute;
    z-index: 1;
    /* display: inline-block; */
} 


footer{
    width: 1920px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    background-color: #ccc0cc;
}

footer p{
    font-size: 20px;
}
